!!!
%html
  %head
    %title Riverside Ruby
    %link{:rel=>'stylesheet', :href=>'/css/stylesheet.css', :type => "text/css"} 
    / / javascripts
    %script{:type => "text/javascript", :src  => "/javascripts/libs/jquery.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/libs/json2.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/libs/underscore-min.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/libs/backbone-min.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/application.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/views/pages/pages.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/controllers/pages.js"}
 
  %body
    #wrapper
      #header
        #logo
          %img{:src => '/images/logo-hd.png'}
        #menu-wrapper
          #menu
            %ul
              %li 
                %a{:href => '/#'} Home
              %li
                %a{:href => '/#/about-us'} About Us
              %li
                %a{:href => '/#'} Members
              %li
                %a{:href => '/#'} Login
        
        #meeting-wrapper
          #meeting
            %h1
              = Time.parse(@meetup['time']).strftime("Next Meeting: %B %d, %Y %I:%M%p")
            #meeting-content
              .right.minimap
                %img{:src => 'http://maps.google.com/staticmap?center=33.941837,-117.400979&zoom=11&size=250x60&maptype=mobile&markers=33.941837,-117.400979,blues', :width => '250', :height => '60'}
              
              %a{:href => @meetup['event_url'], :target => '_blank'} 
                = @meetup['venue_name']
              [RSVP #{@meetup['rsvpcount']}]
              %br
              = @meetup['venue_address1']
              %br
              #{@meetup['venue_city']}, #{@meetup['venue_state']} #{@meetup['venue_zip']}
              %br.clear
        %br.clear
    
      #container
        #app-wrapper
          #app
        #sidebar
          .item
            %h3 Google Group
            %p 
              Join the mailing list and ask your questions on the google group at 
              %a{:href => "http://groups.google.com/group/riversideruby", :target => '_blank'} Riverside Ruby Group
          .item
            %h3 IRC
            %p 
              Hang out and chat on IRC with us. server: irc.linkline.com channel: #riversideruby
          .item
            %h3 Other links
            %ul
            %li
              %a{:href => 'http://meetup.com/riversideruby', :target => '_blank'} Riverside Ruby Meetup
            
           
          #footer
  %script{:type => "text/javascript"}
    \$(function(){
    \ App.init();
    \});
